@import "tailwindcss";

@theme {
  --shadow-blue-light: 0 0 8px 0 rgba(59, 130, 246, 0.12);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
